<!DOCTYPE html>
<html>
<head>

<title>Search Jobs</title>

<style>

body{
    font-family:Arial;
    background:#f8fafc;
}

.container{
    width:80%;
    margin:auto;
    margin-top:40px;
}

.search-box{
    background:white;
    padding:20px;
    border-radius:10px;
    box-shadow:0px 0px 10px gray;
}

input{
    width:80%;
    padding:12px;
}

button{
    padding:12px;
    background:#2563eb;
    color:white;
    border:none;
}

</style>

</head>

<body>

<div class="container">

    <div class="search-box">

        <h1>Search Jobs</h1>

        <input type="text" placeholder="Search by skills">

        <button>
            Search
        </button>

    </div>

</div>

</body>
</html>